.form-container {
    display: flex;
    flex-direction: column;  
    justify-content: center;
    align-items: flex-start;
    border: 1px solid black;
}

.form-container > label {
    padding: 10px;
}

.form-container > label > input {
    margin-left: 10px;
}