.usuario-deslogado {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

    width: 100%;
    height: 100px;

    background-color: #4b92cc;
}

.usuario-deslogado-item1 {
    
}

.usuario-logado {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

    width: 100%;
    height: 100px;

    background-color: #4b92cc;
}